/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/
/***************************Setting body switch***************************/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.light {
  --background: #f6f8ff;
  --cardBackground: #fefefe;
  --bordershadow: #cbcccd;
  --titlesTextColor: #2b3442;
  --textColor01: #697c9a;
  --textColor02: #4b6a9b;
  --textHoverColor: #2b3442;
}

.dark {
  --background: #141d2f;
  --cardBackground: #1e2a47;
  --bordershadow: #141d2f;
  --titlesTextColor: #ffffff;
  --textColor01: #ffffff;
  --textColor02: #ffffff;
  --textHoverColor: #697c9a;
}

/**********************************************************************/
/*setting*/
/**********************************************************************/
/****************************setting fonts***************************/
/****************************Setting page****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Space Mono", sans-serif;
}

body {
  text-align: left;
  background: var(--background);
  font-size: 15px;
  font-weight: 400;
  color: var(--textColor02);
  transition: background-color 0.3s ease-in-out;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 761px) {
  body {
    font-size: 13px;
  }
}

/****************************setting text*****************************/
h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--titlesTextColor);
}

h3 {
  font-size: 26px;
  font-weight: 700;
  color: var(--titlesTextColor);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 761px) {
  h3 {
    font-size: 16px;
  }
}

h2 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--textColor01);
}

.profile-login {
  font-size: 16px;
  color: #0079ff;
  margin-bottom: 15px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  .profile-login {
    font-size: 13px;
  }
}

.p13 {
  font-size: 13px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  .p13 {
    font-size: 11px;
  }
}

.profile-repos,
.profile-followers,
.profile-following {
  font-size: 22px;
  font-weight: 700;
  color: var(--titlesTextColor);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 761px) {
  .profile-repos,
.profile-followers,
.profile-following {
    font-size: 16px;
  }
}

/***************************Setting mixxin***************************/
/***************************Text link***************************/
a,
a:visited {
  color: var(--textColor02);
  text-decoration: none;
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
main .container {
  width: 730px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 760px) {
  main .container {
    width: 90%;
  }
}
main .container .nav-flexbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
main .container .nav-flexbox .switch-flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease;
}
main .container .nav-flexbox .switch-flexbox:hover h2, main .container .nav-flexbox .switch-flexbox:hover path {
  color: var(--textHoverColor);
  fill: var(--textHoverColor);
}
main .container .nav-flexbox .switch-flexbox span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .nav-flexbox .switch-flexbox span #moon {
  margin-left: 16px;
  opacity: 1;
  transition: 0.15s ease;
}
main .container .nav-flexbox .switch-flexbox span #sun {
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.15s ease;
}
main .container .nav-flexbox .switch-flexbox .darkclicked #sun {
  opacity: 1;
}
main .container .nav-flexbox .switch-flexbox .darkclicked #moon {
  opacity: 0;
}
main .container .input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--cardBackground);
  width: 100%;
  height: 69px;
  border-radius: 15px;
  box-shadow: 0px 12px 20px 0px var(--bordershadow);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .input-wrapper {
    height: 60px;
    box-shadow: 0px 4px 20px 0px var(--bordershadow);
  }
}
main .container .input-wrapper .search-input {
  width: 80%;
  font-size: 18px;
  background: none;
  background-image: url("..//../assets/icon-search.svg");
  color: var(--titlesTextColor);
  background-repeat: no-repeat;
  background-position: 25px 25px;
  border-radius: 15px;
  border: none;
  padding-left: 70px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .input-wrapper .search-input {
    font-size: 13px;
    padding-left: 40px;
    background-position: 10px 18px;
  }
}
main .container .input-wrapper button {
  width: 106px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #0079ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 10px 0 0;
  cursor: pointer;
  /*transform: translate(-115px, 10px);*
  transition: 0.2s ease;

  &:hover {
    background-color: $buttonhover;
  }

  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .input-wrapper button {
    width: 84px;
    height: 46px;
    margin: 7px 8px 0 0;
    /*   transform: translate(-90px, 7px);*/
  }
}
main .container .error {
  position: absolute;
  width: 220px;
  font-weight: 700;
  color: #f74646;
  z-index: 1;
  transform: translate(350px, -45px);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 761px) {
  main .container .error {
    transform: translate(180px, 5px);
  }
}
@media screen and (max-width: 535px) {
  main .container .error {
    transform: translate(100px, 5px);
  }
}
main .container .github-container {
  width: 100%;
  height: 419px;
  background-color: var(--cardBackground);
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 12px 20px 0px var(--bordershadow);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .github-container {
    height: 517px;
    box-shadow: 0px 4px 20px 0px var(--bordershadow);
  }
}
main .container .github-container .logo-text-grid {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-template-rows: 40px 40px 50px;
  grid-template-areas: "logo-container profile-name profile-joined" "logo-container profile-login profile-joined" "logo-container profile-bio profile-bio";
  padding: 38px 48px 20px 48px;
  /********************Media********************/
  /*********************************************/
}
main .container .github-container .logo-text-grid .logo-container {
  grid-area: logo-container;
}
main .container .github-container .logo-text-grid .profile-name {
  grid-area: profile-name;
}
main .container .github-container .logo-text-grid .profile-login {
  grid-area: profile-login;
}
main .container .github-container .logo-text-grid .profile-bio {
  grid-area: profile-bio;
}
main .container .github-container .logo-text-grid .profile-joined {
  padding-top: 10px;
  grid-area: profile-joined;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .github-container .logo-text-grid .profile-joined {
    padding-top: 0px;
  }
}
@media screen and (max-width: 761px) {
  main .container .github-container .logo-text-grid {
    grid-template-rows: 38px 35px 30px;
  }
}
@media screen and (max-width: 535px) {
  main .container .github-container .logo-text-grid {
    grid-template-columns: 30% 70%;
    grid-template-rows: 25px 25px 50px;
    grid-template-areas: "logo-container profile-name" "logo-container profile-login" "logo-container profile-joined" "profile-bio profile-bio";
    padding: 32px 24px 30px 32px;
    margin: 0 auto;
    align-items: start;
  }
}
main .container .github-container .logo-text-grid .logo-container {
  width: 117px;
  height: 117px;
  background-size: 100%;
  border-radius: 100%;
  background-image: url("..//../assets/583231.png");
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 655px) {
  main .container .github-container .logo-text-grid .logo-container {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 535px) {
  main .container .github-container .logo-text-grid .logo-container {
    width: 70px;
    height: 70px;
  }
}
main .container .github-container .card {
  width: 480px;
  margin-left: 202px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 761px) {
  main .container .github-container .card {
    width: 65%;
    margin-left: 28%;
  }
}
@media screen and (max-width: 535px) {
  main .container .github-container .card {
    width: 86%;
    margin: 0 auto;
  }
}
main .container .github-container .card .card-grid {
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30px);
  width: 100%;
  height: 85px;
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: var(--background);
}
main .container .github-container .card .info-grid {
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30px);
  row-gap: 10px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
  height: 85px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 535px) {
  main .container .github-container .card .info-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
main .container .github-container .card .info-grid .city,
main .container .github-container .card .info-grid .twitter,
main .container .github-container .card .info-grid .website,
main .container .github-container .card .info-grid .github {
  display: flex;
  flex-direction: row;
}
main .container .github-container .card .info-grid .city .profile-location,
main .container .github-container .card .info-grid .city .profile-twitter,
main .container .github-container .card .info-grid .city .profile-company,
main .container .github-container .card .info-grid .twitter .profile-location,
main .container .github-container .card .info-grid .twitter .profile-twitter,
main .container .github-container .card .info-grid .twitter .profile-company,
main .container .github-container .card .info-grid .website .profile-location,
main .container .github-container .card .info-grid .website .profile-twitter,
main .container .github-container .card .info-grid .website .profile-company,
main .container .github-container .card .info-grid .github .profile-location,
main .container .github-container .card .info-grid .github .profile-twitter,
main .container .github-container .card .info-grid .github .profile-company {
  margin-left: 20px;
}
main .container .github-container .card .info-grid .city .profile-blog,
main .container .github-container .card .info-grid .twitter .profile-blog,
main .container .github-container .card .info-grid .website .profile-blog,
main .container .github-container .card .info-grid .github .profile-blog {
  margin-left: 15px;
  cursor: pointer;
}
main .container .github-container .card .info-grid .city .profile-blog:hover,
main .container .github-container .card .info-grid .twitter .profile-blog:hover,
main .container .github-container .card .info-grid .website .profile-blog:hover,
main .container .github-container .card .info-grid .github .profile-blog:hover {
  text-decoration: underline;
}
main .container .github-container .card .info-grid .city .user-icon path,
main .container .github-container .card .info-grid .twitter .user-icon path,
main .container .github-container .card .info-grid .website .user-icon path,
main .container .github-container .card .info-grid .github .user-icon path {
  fill: var(--textColor02);
}
main .container .github-container .card .info-grid .city .profile-twitter,
main .container .github-container .card .info-grid .city #icontwitter,
main .container .github-container .card .info-grid .twitter .profile-twitter,
main .container .github-container .card .info-grid .twitter #icontwitter,
main .container .github-container .card .info-grid .website .profile-twitter,
main .container .github-container .card .info-grid .website #icontwitter,
main .container .github-container .card .info-grid .github .profile-twitter,
main .container .github-container .card .info-grid .github #icontwitter {
  opacity: 0.5;
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(201, 193, 193);
}
footer a,
footer a:visited {
  color: rgb(141, 37, 37);
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */