/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/

//Primary
$white: hsla(0, 0%, 100%, 1);
$BrightBlue: hsl(220, 98%, 61%);

//Neutral
//Light Theme
$backgroundLight: hsla(0, 0%, 98%, 1); //background
$backgroundTodoLight: hsla(0, 0%, 100%, 1); //background todo
$textTodoCompleteLight: hsla(233, 11%, 84%, 1); //text todo complete
$textTodoFooterLight: hsla(235, 9%, 61%, 1); //text todo footer
$textTodoLight: hsla(235, 19%, 35%, 1); //text todo
$textHoverLight: hsla(235, 19%, 35%, 1); //text Hover
$BoxShadowLight: rgba(194, 195, 214, 0.5); //box Shadow

// Dark Theme
$backgroundDark: hsl(235, 21%, 11%); //background
$backgroundTodoDark: hsla(235, 25%, 19%, 1); //background todo
$textTodoCompleteDark: hsla(233, 14%, 35%, 1); //text todo complete
$textTodoFooterDark: hsla(235, 16%, 42%, 1); //text todo footer
$textTodoDark: hsla(235, 39%, 85%, 1); //text todo
$textHoverDark: hsla(236, 32%, 92%, 1); //text Hover
$BoxShadowDark: rgba(0, 0, 0, 0.5); //box Shadow

/***************************Setting body switch***************************/

.light {
  --background: #{$backgroundLight};
  --backgroundTodo: #{$backgroundTodoLight};
  --textTodoComplete: #{$textTodoCompleteLight};
  --textTodoFooter: #{$textTodoFooterLight};
  --textTodo: #{$textTodoLight};
  --textTodoHover: #{$textHoverLight};
  --BoxShadow: #{$BoxShadowLight};
}

.dark {
  --background: #{$backgroundDark};
  --backgroundTodo: #{$backgroundTodoDark};
  --textTodoComplete: #{$textTodoCompleteDark};
  --textTodoFooter: #{$textTodoFooterDark};
  --textTodo: #{$textTodoDark};
  --textTodoHover: #{$textHoverDark};
  --BoxShadow: #{$BoxShadowDark};
}
