/**********************************************************************/
/*setting*/
/**********************************************************************/

/****************************setting fonts***************************/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/****************************Setting page****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  text-align: left;
  background-color: var(--background);
  background-image: url(..//..//images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  font-size: 18px;
  font-weight: 400;
  color: var(--textTodoFooter);
  transition: background-color 0.4s ease-in-out;
  transition: background-image 0.4s ease-in-out;
}

/*************interact with JS***************/
.dark {
  background-image: url(..//..//images/bg-desktop-dark.jpg);
}
/*********************************************/

/****************************setting text*****************************/
h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: $white;

  /********************Media********************/
  @media screen and (max-width: 570px) {
    font-size: 30px;
    letter-spacing: 10px;
  }
  /*********************************************/
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: var(--textTodo);

  /********************Media********************/
  @media screen and (max-width: 570px) {
    font-size: 14px;
  }
  /*********************************************/
}

p {
  font-size: 14px;
  font-weight: 700;

  /********************Media********************/
  @media screen and (max-width: 570px) {
    font-weight: 400;
  }
  /*********************************************/
}

#itemDisplay,
#clear {
  font-size: 14px;
  font-weight: 400;

  /********************Media********************/
  @media screen and (max-width: 570px) {
    font-size: 12px;
  }
  /*********************************************/
}
#drag {
  font-size: 14px;
  font-weight: 400;
}

/***************************Setting mixxin***************************/

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

/***************************Text link***************************/
a,
a:visited {
  color: blue;
  text-decoration: none;
}
